name: adhreline-frontend
networks:
  proxy:
    external: true
services:
  web:
    build: .
    env_file:
      - .env.prod
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: "1"
      PORT: "3000"
      NEXT_PUBLIC_API_BASE_URL: https://api.adhreline.com
    networks: [proxy]
    labels:
      traefik.enable: "true"
      traefik.docker.network: proxy
      traefik.http.routers.front.rule: Host(`www.adhreline.com`)
      traefik.http.routers.front.entrypoints: websecure
      traefik.http.routers.front.tls.certresolver: le
      traefik.http.services.front.loadbalancer.server.port: "3000"
    restart: unless-stopped